//advanced cookie
.ptchr-gdprcookiecontainer--advanced {
	border-radius: 3px;
	font-size: 12px;
	top: initial;
	bottom: 15px;
	padding: 2em 3em;
	background-color: white;
	z-index: 999999;
	min-height: 300px;
	overflow-y: auto;
	max-height: 80vh;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: left;

	@media(max-width: 700px) {
		padding: 1em;
		text-align: center;
	}

	button {
		margin-right: 15px;
	}

	#ptchr-gdpr-show-details {
		margin-right: 0px;
		padding: 0;
		margin-top: 15px;
	}

	.ptchr-gdprcookie__title {
		width: 100%;
		max-width: 100%;

		h3 {
			font-weight: bold;
			font-size: 18px;
			text-transform: initial;
		}

		margin: 5px 0 15px 0;
	}

	.ptchr-gdprcookie__content {
		width: 100%;
		max-width: 80%;
		font-size: 12px;
		line-height: 20px;

		@media only screen and (max-width: 768px) {
			max-width: 100%;
		}
	}

	.animateinup {
		display: block;
		position: fixed;
		bottom: 20px;
		right: 20px;
		left: 20px;
		transform: translateY(100%);
		@include transition();

	}

	//prevents body from scrolling when cookie is active
	//body.cookieopened{
	//  overflow: hidden;
	//}

	body.cookieopened::after {
		content: '';
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 99999;
		background-color: rgba(0, 0, 0, 0.25);
		@include snappytransition();
	}

	.cookieopened .animateinup {
		transform: translateY(0);
	}


	.cookiedetails {
		.cookiedetail__single {
			position: relative;
			width: 100%;
			max-width: 100%;
			float: left;
			display: block;
			border-bottom: 1px solid #eaeaea;
			padding: 5px;
			line-height: 3em;
			overflow: hidden;

			&:hover {
				background-color: #ccc;
				cursor: pointer;
			}

			@media only screen and (max-width: 768px) {}

			.toggleicon {
				position: absolute;
				right: 10px;
				top: 5px;
				float: right;
				font-size: 0.8em;

				img {
					-webkit-transform: scaleY(1);
					transform: scaleY(1);
					@include transition();
				}
			}
		}


		.cookiedetail__title,
		.cookiedetail__content {
			float: left;
			display: block;
			width: 30%;
		}

		.cookiedetail__content--large {
			float: left;
			height: auto;
			max-height: 0;
			min-height: 0;
			width: 100%;
			@include transition();


		}

		.cookiedetail__single.opened {
			background: #efefef;

			.cookiedetail__content--large {
				max-height: 10000px;
				min-height: 30px;

			}

			.toggleicon img {
				-webkit-transform: scaleY(-1);
				transform: scaleY(-1);
			}
		}


		@media only screen and (max-width: 768px) {
			.cookiedetail__title {
				display: none;
			}

			.cookiedetail__content {
				display: block;
				width: 50%;

				&--large {
					width: 100%;
					transform: translateY(10px);
					/* padding-top: 1em; */
					line-height: 1em;
				}

			}
		}


	}

	.ptchr-gdprcookie__selectors {

		width: 100%;
		display: block;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0 auto;
		position: relative;
		float: initial;

		margin-top: 40px;
		margin-bottom: 15px;

		.selectorrow {
			display: block;
			float: left;
			padding-right: 15px;
			margin-bottom: 0px;
		}

		@media(max-width: 700px) {
			display: block;

			.selectorrow {
				width: 50%;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				margin-bottom: 25px;

			}
		}

		span {
			font-weight: bold;
		}

	}

	.ptchr-gdprcookie__main {
		max-width: 100%;
	}


	.cookiedetail__title {
		font-weight: bold;
		margin-bottom: 1em;
	}

	.buttoncontainer {

		margin-left: auto;
		position: relative;
		display: flex;
		width: auto;
		justify-content: center;

		button {
			margin-bottom: 10px;
		}

		@media(max-width: 700px) {
			float: left;
			width: 100%;
			margin-top: 20px;
			justify-self: center;
			text-align: center;

		}

	}

	#cookies-submit-preferences,
	#ptchr-gdpr-show-details,
	#cookies-submit-agree {
		line-height: 1rem;
		overflow: hidden;
		display: inline-block;
		border: 0;
		z-index: 1;
		color: black;
		background-color: white;

		.toggleicon {
			float: right;
			margin-left: 10px;

			img {
				width: 12px;
				height: 12px;
				-webkit-transform: scaleY(1);
				transform: scaleY(1);
				@include transition();
			}
		}

		&:hover {
			background-color: white;
			text-decoration: underline;
		}

		&.opened.toggleicon {
			img {
				-webkit-transform: scaleY(-1);
				transform: scaleY(-1);
			}

		}
	}

	.ptchr-gdprcookie__selectors {
		.selectorrow {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.explanationrow {
		margin-top: 40px;
		display: block;
		float: left;
		width: 100%;
		position: relative;

		.explanation {
			width: 100%;
			float: left;
			margin-left: 5px;
			line-height: 1.6em;
			margin-bottom: 8px;

		}
	}

	.ptchr-gdprcookiecontainer * {
		position: relative;
		display: block;
		float: left;

		input,
		label {
			display: inline;
			float: none;
			font-size: 1.18em;
		}

	}

	.cookiedetails__title {
		margin: 10px 0 15px 0;

		h3 {
			font-weight: 800;
			font-size: 14px;
		}

	}


	#cookies-submit-agree {
		background-color: black;
		color: white;
		padding: 10px 35px;
		border-radius: 2px;
		border: 1px solid black;
		font-weight: bold;

		&:hover {
			background-color: white;
			color: black;
		}
	}
}
