//advanced cookie
.ptchr-gdprcookiecontainer--basic {
	border-radius: 3px;
	font-size: 12px;
	top: initial;
	bottom: 15px;
	right: 15px;
	left: auto;
	padding: 1em 3em 1em 3em;
	background-color: white;
	z-index: 999999;
	overflow-y: auto;
	max-height: 80vh;
	width: 500px;

	max-width: calc(100% - 30px);
	text-align: left;

	@media(max-width: 700px) {
		padding: 1em;

	}

	button {
		margin-right: 15px;
	}

	#ptchr-gdpr-show-details {
		margin-right: 0px;
		padding: 0;
		margin-top: 15px;
	}

	.ptchr-gdprcookie__title {
		width: 100%;
		max-width: 100%;
		text-align: center;
		margin: 5px 0 5px 0;

		h3 {
			font-weight: bold;
			font-size: 18px;
			text-transform: initial;
		}


	}

	.ptchr-gdprcookie__content {
		width: 100%;
		max-width: 100%;
		font-size: 10px;
		line-height: 20px;
		margin-bottom: 1em;
		margin-top: 7px;

		a {
			font-weight: bold;
			text-decoration: underline;
		}
	}

	.animateinup {
		display: block;
		position: fixed;
		bottom: 20px;
		right: 20px;
		left: 20px;
		transform: translateY(100%);
		@include transition();

	}

	//prevents body from scrolling when cookie is active
	//body.cookieopened{
	//  overflow: hidden;
	//}

	body.cookieopened::after {
		content: '';
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 99999;
		background-color: rgba(0, 0, 0, 0.25);
		@include snappytransition();
	}

	.cookieopened .animateinup {
		transform: translateY(0);
	}


	.cookiedetails {
		.cookiedetail__single {
			position: relative;
			width: 100%;
			max-width: 100%;
			float: left;
			display: block;
			border-bottom: 1px solid #eaeaea;
			padding: 5px;
			line-height: 3em;
			overflow: hidden;

			&:hover {
				background-color: #ccc;
			}

			@media only screen and (max-width: 768px) {}

			.toggleicon {
				position: absolute;
				right: 10px;
				top: 5px;
				float: right;
				font-size: 0.8em;

				img {
					-webkit-transform: scaleY(1);
					transform: scaleY(1);
					@include transition();
				}
			}
		}





	}

	.ptchr-gdprcookie__selectors {

		width: 100%;
		display: block;
		position: relative;
		float: initial;

		margin-top: 0px;
		margin-bottom: 15px;

		.selectorrow {
			display: block;
			float: left;
			clear: both;
			width: 100%;
			margin-bottom: 15px;
			border-bottom: 1px solid #eaeaea;
			@include transition();
			padding: 14px 14px 0px 7px;

			&:hover {
				cursor: pointer;
				background-color: #ebebeb;
			}

			.selectorrow__expand {
				max-height: 0px;
				height: auto;
				margin-top: 5px;
				margin-left: 75px; // because width of switch is 60 + 20px padding
				padding-right: 15px;
				overflow: hidden;
				@include transition();
			}

			&.opened {
				.selectorrow__expand {
					max-height: 450px;
					height: auto;
					margin-bottom: 15px;
				}

				.toggleicon {
					img {
						-webkit-transform: scaleY(-1);
						transform: scaleY(-1);
					}

				}
			}

			.toggleicon {
				float: right;

				img {
					-webkit-transform: scaleY(1);
					transform: scaleY(1);
					@include transition();
				}
			}

		}

		.selectorrow:last-child {
			border-bottom: 0px solid #eaeaea;
		}

		span {
			font-weight: bold;
		}

	}

	.ptchr-gdprcookie__main {
		max-width: 100%;
	}


	.cookiedetail__title {
		font-weight: bold;
		margin-bottom: 1em;
		margin-top: 1em;
	}

	.buttoncontainer {

		margin-left: auto;
		position: relative;
		display: flex;
		width: auto;
		justify-content: center;

		button {
			margin-bottom: 10px;
		}

		@media(max-width: 700px) {
			float: left;
			width: 100%;
			margin-top: 20px;
			justify-self: center;
			text-align: center;

		}

	}

	#cookies-submit-preferences,
	#ptchr-gdpr-show-details,
	#cookies-submit-agree {
		line-height: 1rem;
		overflow: hidden;
		display: inline-block;
		border: 0;
		z-index: 1;
		color: black;
		background-color: white;

		.toggleicon {
			float: right;
			margin-left: 10px;

			img {
				width: 12px;
				height: 12px;
				-webkit-transform: scaleY(1);
				transform: scaleY(1);
				@include transition();
			}
		}

		&:hover {
			background-color: white;
			text-decoration: underline;
		}

		&.opened.toggleicon {
			img {
				-webkit-transform: scaleY(-1);
				transform: scaleY(-1);
			}

		}
	}

	.ptchr-gdprcookie__selectors {
		.selectorrow {
			margin-left: 0;
			margin-right: 0;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.explanationrow {
		margin-top: 40px;
		display: block;
		float: left;
		width: 100%;
		position: relative;

		.explanation {
			width: 100%;
			float: left;
			margin-left: 5px;
			line-height: 1.6em;
			margin-bottom: 8px;

		}
	}

	.ptchr-gdprcookiecontainer * {
		position: relative;
		display: block;
		float: left;

		input,
		label {
			display: inline;
			float: none;
			font-size: 1.18em;
		}

	}

	.cookiedetails__title {
		margin: 10px 0 15px 0;

		h3 {
			font-weight: 800;
			font-size: 14px;
		}

	}


	#cookies-submit-agree {
		background-color: black;
		color: white;
		padding: 10px 35px;
		border-radius: 2px;
		border: 1px solid black;
		font-weight: bold;

		&:hover {
			background-color: white;
			color: black;
		}
	}
}
