.shortcodecookiedetailswrapper {
	border: 1px solid #eaeaea;
	padding: 1em;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: white;

	.explanationrow {
		display: none;
	}

	.cookiedetails {
		.cookiedetail__single {
			position: relative;
			width: 100%;
			max-width: 100%;
			float: left;
			display: block;
			border-bottom: 1px solid #eaeaea;
			padding: 5px;
			padding-left: 15px;
			line-height: 3em;
			overflow: hidden;

			&:hover {
				background-color: #ccc;
				cursor: pointer;
			}

			@media only screen and (max-width: 768px) {}

			.toggleicon {
				position: absolute;
				right: 10px;
				top: 5px;
				float: right;
				font-size: 0.8em;

				img {
					-webkit-transform: scaleY(1);
					transform: scaleY(1);
					@include transition();
				}
			}
		}


		.cookiedetail__title,
		.cookiedetail__content {
			float: left;
			display: block;
			width: 30%;
		}

		.cookiedetail__content--large {
			float: left;
			height: auto;
			max-height: 0;
			min-height: 0;
			width: 100%;
			@include transition();


		}

		.cookiedetail__single.opened {
			background: #efefef;

			.cookiedetail__content--large {
				max-height: 1000px;
				min-height: 30px;
				max-width: 80%;
				overflow: hidden;
				line-height: 1.3em;

				@media only screen and (max-width: 768px) {
					max-width: 100%;
				}

			}

			.toggleicon img {
				-webkit-transform: scaleY(-1);
				transform: scaleY(-1);
			}
		}


		@media only screen and (max-width: 768px) {
			.cookiedetail__title {
				display: none;
			}

			.cookiedetail__content {
				display: block;
				width: 50%;

				&--large {
					width: 100%;
					transform: translateY(10px);
					/* padding-top: 1em; */
					line-height: 1em;
				}

			}
		}


	}
}
