.ptchr-gdprcookiecontainer {

	/* The switch - the box around the slider */
	.switch {
		position: relative;
		display: inline-block !important; // !important is for a fix in which labels have a defined class from plugins or themes
		width: 60px;
		height: 20px;
		margin-right: 10px;
		margin-bottom: 10px !important; // important is for a fix in which labels are alreaedy defined with a margin bottom
	}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: -4px;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;

		&:hover {
			transform: scale(1.1);
			@include snappytransition();
		}

		&:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 0;
			background-color: white;
			@include snappytransition();
		}

	}


	input+.slider:before {
		-webkit-transform: scale(1.3);
		-ms-transform: scale(1.3);
		transform: scale(1.3);
		border: 2px solid #a1a1a1;
	}

	input:checked+.slider:before {
		border-color: black;
	}

	input:checked+.slider {
		background-color: black;
	}

	input:focus+.slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked+.slider:before {
		-webkit-transform: scale(1.3) translateX(21px);
		-ms-transform: scale(1.3) translateX(21px);
		transform: scale(1.3) translateX(21px);
	}

	input:disabled+.slider:before {
		border-color: #c4c4c4;
	}

	input:disabled+.slider {
		background-color: #c4c4c4;
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;

	}

	.slider.round:before {
		border-radius: 50%;
	}
}
