//mixins
@mixin transition() {
  -moz-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

@mixin snappytransition() {
  -moz-transition: 0.2s all cubic-bezier(.75,.3,.74,.29);
  -o-transition: 0.2s all cubic-bezier(.75,.3,.74,.29);
  -webkit-transition: 0.2s all cubic-bezier(.75,.3,.74,.29);
  transition: 0.2s all cubic-bezier(.75,.3,.74,.29);
}

// general rules:

.ptchr-gdprcookiecontainer {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  display: none;
}

body.cookieopened {
  &:before {
    content: '';
    position: fixed;
    pointer-events: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    display: block;
    z-index: 999999;
  }
}

//bugfix for password protected websites.
body.login-password-protected,
body.login{
  &:before {
    display: none !important;
  }
}

.cookieopened .ptchr-gdprcookiecontainer {
  display: block;
}

.ptchr-gdprcookie__details {
  height: auto;
  max-height: 0;
  transform: translateY(50px);
  overflow: hidden;
  transition: 0.5s all ease-in-out;
  max-width: 100%;
  float: left;
  text-align: left;

}

.toggleiconshowdetails {
  display: inline-block;

  img {
    width: 12px;
    height: 12px;
    @include transition();
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.details-opened {

  .ptchr-gdprcookie__details {
    height: auto;
    max-height: 10000px;
    transform: translateY(0px);
  }

  .toggleiconshowdetails {

    img {
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1);
    }
  }

}




.toggleicon {
  display: inline-block;

  img {
    width: 12px;
    height: 12px;
  }
}

@import '_basic';
@import '_advanced';
@import '_toggleslider';
@import '_shortcodecookieoverview';
