.ptchr-gdprcookiecontainer {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  display: none;
}

body.cookieopened:before {
  content: '';
  position: fixed;
  pointer-events: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  z-index: 999999;
}

body.login-password-protected:before,
body.login:before {
  display: none !important;
}

.cookieopened .ptchr-gdprcookiecontainer {
  display: block;
}

.ptchr-gdprcookie__details {
  height: auto;
  max-height: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  overflow: hidden;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  max-width: 100%;
  float: left;
  text-align: left;
}

.toggleiconshowdetails {
  display: inline-block;
}

.toggleiconshowdetails img {
  width: 12px;
  height: 12px;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.details-opened .ptchr-gdprcookie__details {
  height: auto;
  max-height: 10000px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.details-opened .toggleiconshowdetails img {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.toggleicon {
  display: inline-block;
}

.toggleicon img {
  width: 12px;
  height: 12px;
}

.ptchr-gdprcookiecontainer--basic {
  border-radius: 3px;
  font-size: 12px;
  top: initial;
  bottom: 15px;
  right: 15px;
  left: auto;
  padding: 1em 3em 1em 3em;
  background-color: white;
  z-index: 999999;
  overflow-y: auto;
  max-height: 80vh;
  width: 500px;
  max-width: calc(100% - 30px);
  text-align: left;
}

@media (max-width: 700px) {
  .ptchr-gdprcookiecontainer--basic {
    padding: 1em;
  }
}

.ptchr-gdprcookiecontainer--basic button {
  margin-right: 15px;
}

.ptchr-gdprcookiecontainer--basic #ptchr-gdpr-show-details {
  margin-right: 0px;
  padding: 0;
  margin-top: 15px;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__title {
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin: 5px 0 5px 0;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__title h3 {
  font-weight: bold;
  font-size: 18px;
  text-transform: initial;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__content {
  width: 100%;
  max-width: 100%;
  font-size: 10px;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 7px;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__content a {
  font-weight: bold;
  text-decoration: underline;
}

.ptchr-gdprcookiecontainer--basic .animateinup {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  left: 20px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.ptchr-gdprcookiecontainer--basic body.cookieopened::after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s all cubic-bezier(0.75, 0.3, 0.74, 0.29);
  transition: 0.2s all cubic-bezier(0.75, 0.3, 0.74, 0.29);
}

.ptchr-gdprcookiecontainer--basic .cookieopened .animateinup {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ptchr-gdprcookiecontainer--basic .cookiedetails .cookiedetail__single {
  position: relative;
  width: 100%;
  max-width: 100%;
  float: left;
  display: block;
  border-bottom: 1px solid #eaeaea;
  padding: 5px;
  line-height: 3em;
  overflow: hidden;
}

.ptchr-gdprcookiecontainer--basic .cookiedetails .cookiedetail__single:hover {
  background-color: #ccc;
}

.ptchr-gdprcookiecontainer--basic .cookiedetails .cookiedetail__single .toggleicon {
  position: absolute;
  right: 10px;
  top: 5px;
  float: right;
  font-size: 0.8em;
}

.ptchr-gdprcookiecontainer--basic .cookiedetails .cookiedetail__single .toggleicon img {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__selectors {
  width: 100%;
  display: block;
  position: relative;
  float: initial;
  margin-top: 0px;
  margin-bottom: 15px;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__selectors .selectorrow {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  padding: 14px 14px 0px 7px;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__selectors .selectorrow:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__selectors .selectorrow .selectorrow__expand {
  max-height: 0px;
  height: auto;
  margin-top: 5px;
  margin-left: 75px;
  padding-right: 15px;
  overflow: hidden;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__selectors .selectorrow.opened .selectorrow__expand {
  max-height: 450px;
  height: auto;
  margin-bottom: 15px;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__selectors .selectorrow.opened .toggleicon img {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__selectors .selectorrow .toggleicon {
  float: right;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__selectors .selectorrow .toggleicon img {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__selectors .selectorrow:last-child {
  border-bottom: 0px solid #eaeaea;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__selectors span {
  font-weight: bold;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__main {
  max-width: 100%;
}

.ptchr-gdprcookiecontainer--basic .cookiedetail__title {
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
}

.ptchr-gdprcookiecontainer--basic .buttoncontainer {
  margin-left: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ptchr-gdprcookiecontainer--basic .buttoncontainer button {
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  .ptchr-gdprcookiecontainer--basic .buttoncontainer {
    float: left;
    width: 100%;
    margin-top: 20px;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
}

.ptchr-gdprcookiecontainer--basic #cookies-submit-preferences,
.ptchr-gdprcookiecontainer--basic #ptchr-gdpr-show-details,
.ptchr-gdprcookiecontainer--basic #cookies-submit-agree {
  line-height: 1rem;
  overflow: hidden;
  display: inline-block;
  border: 0;
  z-index: 1;
  color: black;
  background-color: white;
}

.ptchr-gdprcookiecontainer--basic #cookies-submit-preferences .toggleicon,
.ptchr-gdprcookiecontainer--basic #ptchr-gdpr-show-details .toggleicon,
.ptchr-gdprcookiecontainer--basic #cookies-submit-agree .toggleicon {
  float: right;
  margin-left: 10px;
}

.ptchr-gdprcookiecontainer--basic #cookies-submit-preferences .toggleicon img,
.ptchr-gdprcookiecontainer--basic #ptchr-gdpr-show-details .toggleicon img,
.ptchr-gdprcookiecontainer--basic #cookies-submit-agree .toggleicon img {
  width: 12px;
  height: 12px;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.ptchr-gdprcookiecontainer--basic #cookies-submit-preferences:hover,
.ptchr-gdprcookiecontainer--basic #ptchr-gdpr-show-details:hover,
.ptchr-gdprcookiecontainer--basic #cookies-submit-agree:hover {
  background-color: white;
  text-decoration: underline;
}

.ptchr-gdprcookiecontainer--basic #cookies-submit-preferences.opened.toggleicon img,
.ptchr-gdprcookiecontainer--basic #ptchr-gdpr-show-details.opened.toggleicon img,
.ptchr-gdprcookiecontainer--basic #cookies-submit-agree.opened.toggleicon img {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookie__selectors .selectorrow {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.ptchr-gdprcookiecontainer--basic .explanationrow {
  margin-top: 40px;
  display: block;
  float: left;
  width: 100%;
  position: relative;
}

.ptchr-gdprcookiecontainer--basic .explanationrow .explanation {
  width: 100%;
  float: left;
  margin-left: 5px;
  line-height: 1.6em;
  margin-bottom: 8px;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookiecontainer * {
  position: relative;
  display: block;
  float: left;
}

.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookiecontainer * input,
.ptchr-gdprcookiecontainer--basic .ptchr-gdprcookiecontainer * label {
  display: inline;
  float: none;
  font-size: 1.18em;
}

.ptchr-gdprcookiecontainer--basic .cookiedetails__title {
  margin: 10px 0 15px 0;
}

.ptchr-gdprcookiecontainer--basic .cookiedetails__title h3 {
  font-weight: 800;
  font-size: 14px;
}

.ptchr-gdprcookiecontainer--basic #cookies-submit-agree {
  background-color: black;
  color: white;
  padding: 10px 35px;
  border-radius: 2px;
  border: 1px solid black;
  font-weight: bold;
}

.ptchr-gdprcookiecontainer--basic #cookies-submit-agree:hover {
  background-color: white;
  color: black;
}

.ptchr-gdprcookiecontainer--advanced {
  border-radius: 3px;
  font-size: 12px;
  top: initial;
  bottom: 15px;
  padding: 2em 3em;
  background-color: white;
  z-index: 999999;
  min-height: 300px;
  overflow-y: auto;
  max-height: 80vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 700px) {
  .ptchr-gdprcookiecontainer--advanced {
    padding: 1em;
    text-align: center;
  }
}

.ptchr-gdprcookiecontainer--advanced button {
  margin-right: 15px;
}

.ptchr-gdprcookiecontainer--advanced #ptchr-gdpr-show-details {
  margin-right: 0px;
  padding: 0;
  margin-top: 15px;
}

.ptchr-gdprcookiecontainer--advanced .ptchr-gdprcookie__title {
  width: 100%;
  max-width: 100%;
  margin: 5px 0 15px 0;
}

.ptchr-gdprcookiecontainer--advanced .ptchr-gdprcookie__title h3 {
  font-weight: bold;
  font-size: 18px;
  text-transform: initial;
}

.ptchr-gdprcookiecontainer--advanced .ptchr-gdprcookie__content {
  width: 100%;
  max-width: 80%;
  font-size: 12px;
  line-height: 20px;
}

@media only screen and (max-width: 768px) {
  .ptchr-gdprcookiecontainer--advanced .ptchr-gdprcookie__content {
    max-width: 100%;
  }
}

.ptchr-gdprcookiecontainer--advanced .animateinup {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  left: 20px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.ptchr-gdprcookiecontainer--advanced body.cookieopened::after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s all cubic-bezier(0.75, 0.3, 0.74, 0.29);
  transition: 0.2s all cubic-bezier(0.75, 0.3, 0.74, 0.29);
}

.ptchr-gdprcookiecontainer--advanced .cookieopened .animateinup {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ptchr-gdprcookiecontainer--advanced .cookiedetails .cookiedetail__single {
  position: relative;
  width: 100%;
  max-width: 100%;
  float: left;
  display: block;
  border-bottom: 1px solid #eaeaea;
  padding: 5px;
  line-height: 3em;
  overflow: hidden;
}

.ptchr-gdprcookiecontainer--advanced .cookiedetails .cookiedetail__single:hover {
  background-color: #ccc;
  cursor: pointer;
}

.ptchr-gdprcookiecontainer--advanced .cookiedetails .cookiedetail__single .toggleicon {
  position: absolute;
  right: 10px;
  top: 5px;
  float: right;
  font-size: 0.8em;
}

.ptchr-gdprcookiecontainer--advanced .cookiedetails .cookiedetail__single .toggleicon img {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.ptchr-gdprcookiecontainer--advanced .cookiedetails .cookiedetail__title,
.ptchr-gdprcookiecontainer--advanced .cookiedetails .cookiedetail__content {
  float: left;
  display: block;
  width: 30%;
}

.ptchr-gdprcookiecontainer--advanced .cookiedetails .cookiedetail__content--large {
  float: left;
  height: auto;
  max-height: 0;
  min-height: 0;
  width: 100%;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.ptchr-gdprcookiecontainer--advanced .cookiedetails .cookiedetail__single.opened {
  background: #efefef;
}

.ptchr-gdprcookiecontainer--advanced .cookiedetails .cookiedetail__single.opened .cookiedetail__content--large {
  max-height: 10000px;
  min-height: 30px;
}

.ptchr-gdprcookiecontainer--advanced .cookiedetails .cookiedetail__single.opened .toggleicon img {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

@media only screen and (max-width: 768px) {
  .ptchr-gdprcookiecontainer--advanced .cookiedetails .cookiedetail__title {
    display: none;
  }
  .ptchr-gdprcookiecontainer--advanced .cookiedetails .cookiedetail__content {
    display: block;
    width: 50%;
  }
  .ptchr-gdprcookiecontainer--advanced .cookiedetails .cookiedetail__content--large {
    width: 100%;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    /* padding-top: 1em; */
    line-height: 1em;
  }
}

.ptchr-gdprcookiecontainer--advanced .ptchr-gdprcookie__selectors {
  width: 100%;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: relative;
  float: initial;
  margin-top: 40px;
  margin-bottom: 15px;
}

.ptchr-gdprcookiecontainer--advanced .ptchr-gdprcookie__selectors .selectorrow {
  display: block;
  float: left;
  padding-right: 15px;
  margin-bottom: 0px;
}

@media (max-width: 700px) {
  .ptchr-gdprcookiecontainer--advanced .ptchr-gdprcookie__selectors {
    display: block;
  }
  .ptchr-gdprcookiecontainer--advanced .ptchr-gdprcookie__selectors .selectorrow {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 25px;
  }
}

.ptchr-gdprcookiecontainer--advanced .ptchr-gdprcookie__selectors span {
  font-weight: bold;
}

.ptchr-gdprcookiecontainer--advanced .ptchr-gdprcookie__main {
  max-width: 100%;
}

.ptchr-gdprcookiecontainer--advanced .cookiedetail__title {
  font-weight: bold;
  margin-bottom: 1em;
}

.ptchr-gdprcookiecontainer--advanced .buttoncontainer {
  margin-left: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ptchr-gdprcookiecontainer--advanced .buttoncontainer button {
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  .ptchr-gdprcookiecontainer--advanced .buttoncontainer {
    float: left;
    width: 100%;
    margin-top: 20px;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
}

.ptchr-gdprcookiecontainer--advanced #cookies-submit-preferences,
.ptchr-gdprcookiecontainer--advanced #ptchr-gdpr-show-details,
.ptchr-gdprcookiecontainer--advanced #cookies-submit-agree {
  line-height: 1rem;
  overflow: hidden;
  display: inline-block;
  border: 0;
  z-index: 1;
  color: black;
  background-color: white;
}

.ptchr-gdprcookiecontainer--advanced #cookies-submit-preferences .toggleicon,
.ptchr-gdprcookiecontainer--advanced #ptchr-gdpr-show-details .toggleicon,
.ptchr-gdprcookiecontainer--advanced #cookies-submit-agree .toggleicon {
  float: right;
  margin-left: 10px;
}

.ptchr-gdprcookiecontainer--advanced #cookies-submit-preferences .toggleicon img,
.ptchr-gdprcookiecontainer--advanced #ptchr-gdpr-show-details .toggleicon img,
.ptchr-gdprcookiecontainer--advanced #cookies-submit-agree .toggleicon img {
  width: 12px;
  height: 12px;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.ptchr-gdprcookiecontainer--advanced #cookies-submit-preferences:hover,
.ptchr-gdprcookiecontainer--advanced #ptchr-gdpr-show-details:hover,
.ptchr-gdprcookiecontainer--advanced #cookies-submit-agree:hover {
  background-color: white;
  text-decoration: underline;
}

.ptchr-gdprcookiecontainer--advanced #cookies-submit-preferences.opened.toggleicon img,
.ptchr-gdprcookiecontainer--advanced #ptchr-gdpr-show-details.opened.toggleicon img,
.ptchr-gdprcookiecontainer--advanced #cookies-submit-agree.opened.toggleicon img {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.ptchr-gdprcookiecontainer--advanced .ptchr-gdprcookie__selectors .selectorrow {
  margin-left: 0;
  margin-right: 0;
}

.ptchr-gdprcookiecontainer--advanced .explanationrow {
  margin-top: 40px;
  display: block;
  float: left;
  width: 100%;
  position: relative;
}

.ptchr-gdprcookiecontainer--advanced .explanationrow .explanation {
  width: 100%;
  float: left;
  margin-left: 5px;
  line-height: 1.6em;
  margin-bottom: 8px;
}

.ptchr-gdprcookiecontainer--advanced .ptchr-gdprcookiecontainer * {
  position: relative;
  display: block;
  float: left;
}

.ptchr-gdprcookiecontainer--advanced .ptchr-gdprcookiecontainer * input,
.ptchr-gdprcookiecontainer--advanced .ptchr-gdprcookiecontainer * label {
  display: inline;
  float: none;
  font-size: 1.18em;
}

.ptchr-gdprcookiecontainer--advanced .cookiedetails__title {
  margin: 10px 0 15px 0;
}

.ptchr-gdprcookiecontainer--advanced .cookiedetails__title h3 {
  font-weight: 800;
  font-size: 14px;
}

.ptchr-gdprcookiecontainer--advanced #cookies-submit-agree {
  background-color: black;
  color: white;
  padding: 10px 35px;
  border-radius: 2px;
  border: 1px solid black;
  font-weight: bold;
}

.ptchr-gdprcookiecontainer--advanced #cookies-submit-agree:hover {
  background-color: white;
  color: black;
}

.ptchr-gdprcookiecontainer {
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

.ptchr-gdprcookiecontainer .switch {
  position: relative;
  display: inline-block !important;
  width: 60px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 10px !important;
}

.ptchr-gdprcookiecontainer .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.ptchr-gdprcookiecontainer .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: -4px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.ptchr-gdprcookiecontainer .slider:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s all cubic-bezier(0.75, 0.3, 0.74, 0.29);
  transition: 0.2s all cubic-bezier(0.75, 0.3, 0.74, 0.29);
}

.ptchr-gdprcookiecontainer .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.2s all cubic-bezier(0.75, 0.3, 0.74, 0.29);
  transition: 0.2s all cubic-bezier(0.75, 0.3, 0.74, 0.29);
}

.ptchr-gdprcookiecontainer input + .slider:before {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  border: 2px solid #a1a1a1;
}

.ptchr-gdprcookiecontainer input:checked + .slider:before {
  border-color: black;
}

.ptchr-gdprcookiecontainer input:checked + .slider {
  background-color: black;
}

.ptchr-gdprcookiecontainer input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.ptchr-gdprcookiecontainer input:checked + .slider:before {
  -webkit-transform: scale(1.3) translateX(21px);
  transform: scale(1.3) translateX(21px);
}

.ptchr-gdprcookiecontainer input:disabled + .slider:before {
  border-color: #c4c4c4;
}

.ptchr-gdprcookiecontainer input:disabled + .slider {
  background-color: #c4c4c4;
}

.ptchr-gdprcookiecontainer .slider.round {
  border-radius: 34px;
}

.ptchr-gdprcookiecontainer .slider.round:before {
  border-radius: 50%;
}

.shortcodecookiedetailswrapper {
  border: 1px solid #eaeaea;
  padding: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.shortcodecookiedetailswrapper .explanationrow {
  display: none;
}

.shortcodecookiedetailswrapper .cookiedetails .cookiedetail__single {
  position: relative;
  width: 100%;
  max-width: 100%;
  float: left;
  display: block;
  border-bottom: 1px solid #eaeaea;
  padding: 5px;
  padding-left: 15px;
  line-height: 3em;
  overflow: hidden;
}

.shortcodecookiedetailswrapper .cookiedetails .cookiedetail__single:hover {
  background-color: #ccc;
  cursor: pointer;
}

.shortcodecookiedetailswrapper .cookiedetails .cookiedetail__single .toggleicon {
  position: absolute;
  right: 10px;
  top: 5px;
  float: right;
  font-size: 0.8em;
}

.shortcodecookiedetailswrapper .cookiedetails .cookiedetail__single .toggleicon img {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.shortcodecookiedetailswrapper .cookiedetails .cookiedetail__title,
.shortcodecookiedetailswrapper .cookiedetails .cookiedetail__content {
  float: left;
  display: block;
  width: 30%;
}

.shortcodecookiedetailswrapper .cookiedetails .cookiedetail__content--large {
  float: left;
  height: auto;
  max-height: 0;
  min-height: 0;
  width: 100%;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.shortcodecookiedetailswrapper .cookiedetails .cookiedetail__single.opened {
  background: #efefef;
}

.shortcodecookiedetailswrapper .cookiedetails .cookiedetail__single.opened .cookiedetail__content--large {
  max-height: 1000px;
  min-height: 30px;
  max-width: 80%;
  overflow: hidden;
  line-height: 1.3em;
}

@media only screen and (max-width: 768px) {
  .shortcodecookiedetailswrapper .cookiedetails .cookiedetail__single.opened .cookiedetail__content--large {
    max-width: 100%;
  }
}

.shortcodecookiedetailswrapper .cookiedetails .cookiedetail__single.opened .toggleicon img {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

@media only screen and (max-width: 768px) {
  .shortcodecookiedetailswrapper .cookiedetails .cookiedetail__title {
    display: none;
  }
  .shortcodecookiedetailswrapper .cookiedetails .cookiedetail__content {
    display: block;
    width: 50%;
  }
  .shortcodecookiedetailswrapper .cookiedetails .cookiedetail__content--large {
    width: 100%;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    /* padding-top: 1em; */
    line-height: 1em;
  }
}
/*# sourceMappingURL=style.css.map */